<div class="border-bottom row" style = "margin-bottom:16px; padding:8px">
  
  <div class="col-9">
   <h4 style= "color: rgb(120,120,120); margin-bottom:4px;" >{{job['title']}}</h4>
   <div><b>Location :</b> {{job['location']}}</div>
   {% if 'salary' in job %}
     <div><b>Salary:</b> {{job['salary']}}</div>
   {% endif %}
  </div>
  
  <div class="col-3">
    <a href="mailto:sweetyagr128@gmail.com?subject=career%20application&body=%3Cname%3E%0D%0A%3Cyour%20resume%3E%0D%0A" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
 </div>